<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div data-controller="tweet-card" data-tweet-path="<%= tweet_path(tweet_presenter.tweet) %>" class="d-flex tweet hover py-3 px-3">
    <div class="flex-shrink-0">
      <%= image_tag tweet_presenter.avatar, size: 48, class: "rounded-circle" %>
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="mb-1">
        <span class="fw-bold"><%= tweet_presenter.display_name %></span> 
        <span class="text-muted">@<%= tweet_presenter.username %> · <%= tweet_presenter.created_at %><span>
      </p>

      <%= tweet_presenter.body_html.html_safe %>

      <div class="d-flex justify-content-between action-links">
        <div class="btn-group">
          <%= link_to tweet_path(tweet_presenter.tweet), class: "text-decoration-none text-black replies" do %>
            <div data-ignore-click="true" class="d-flex align-items-center">
              <i class="bi bi-chat fs-5 me-1"></i>
              <span class="mb-1"><%= tweet_presenter.reply_tweets_count %></span>
            </div>
          <% end %>
        </div>
        <div>
          <%= link_to tweet_presenter.retweet_url, data: { "turbo-method": tweet_presenter.retweet_turbo_data_method }, class: "text-decoration-none text-black " + tweet_presenter.retweet_icon_class do %>
            <div data-ignore-click="true" class="d-flex align-items-center">
              <i class="bi bi-arrow-repeat fs-5 me-1"></i>
              <span class="mb-1"><%= tweet_presenter.retweets_count %></span>
            </div>
          <% end %>
        </div>
        <div>
          <%= link_to tweet_presenter.like_tweet_url, data: { "turbo-method": tweet_presenter.like_turbo_data_method }, class: "text-decoration-none text-black " + tweet_presenter.like_icon_class do %>
            <div data-ignore-click="true" class="d-flex align-items-center">
              <i class="bi <%= tweet_presenter.like_icon %> fs-5 me-1"></i>
              <span class="mb-1"><%= tweet_presenter.likes_count %></span>
            </div>
          <% end %>
        </div>
        <div>
          <%= link_to tweet_path(tweet_presenter.tweet), class: "text-decoration-none text-black views" do %>
            <div data-ignore-click="true" class="d-flex align-items-center">
              <i class="bi bi-bar-chart fs-5 me-1"></i>
              <span class="mb-1"><%= tweet_presenter.views_count %></span>
            </div>
          <% end %>
        </div>
        <div>
          <%= link_to tweet_presenter.bookmark_tweet_url, data: { "turbo-method": tweet_presenter.bookmark_turbo_data_method }, class: "text-decoration-none text-black bookmark" do %>
            <div data-ignore-click="true" class="d-flex align-items-center">
              <i class="bi <%= tweet_presenter.bookmark_icon %> fs-5 me-1"></i>
              <span class="mb-1"><%= tweet_presenter.bookmark_link_text %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
