<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>
  <div class="d-flex tweet py-3 px-3">
    <div class="flex-shrink-0">
      <% if tweet_presenter.avatar.present? %>
        <%= image_tag tweet_presenter.avatar, size: 48, class: "rounded-circle" %>
      <% else %>
        <%= image_tag "userpic.png", size: 48, class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="mb-1">
        <span class="fw-bold"><%= tweet_presenter.display_name %></span> 
        <span class="text-muted">@<%= tweet_presenter.username %> · <%= tweet_presenter.created_at %><span>
      </p>

      <p><%= tweet_presenter.body %></p>

      <div class="d-flex justify-content-between action-links">
        <div class="btn-group">
          <%= link_to "#", class: "text-decoration-none text-black replies" do %>
            <%= image_tag "replies.png", size: "20x20", class: "me-1" %>
            <span>Replies</span>
          <% end %>
        </div>
        <div>
          <%= link_to "#", class: "text-decoration-none text-black retweets" do %>
            <%= image_tag "retweet.png", size: "20x20", class: "me-1" %>
            <span>Retweet</span>
          <% end %>
        </div>
        <div>
          <% if tweet_presenter.likes.include?(current_user.likes.find_by(tweet: tweet_presenter.tweet)) %>
            <%= link_to tweet_like_path(tweet_presenter.tweet, tweet_presenter.tweet.likes.find_by(user: current_user)), data: { "turbo-method": "delete" }, class: "text-decoration-none text-black like" do %>
              <%= image_tag "liked.png", size: "20x20", class: "me-1" %>
              <span><%= tweet_presenter.likes.size %></span>
            <% end %>
          <% else %>
            <%= link_to tweet_likes_path(tweet_presenter.tweet), data: { "turbo-method": "post" }, class: "text-decoration-none text-black like" do %>
              <%= image_tag "like.png", size: "20x20", class: "me-1" %>
              <span><%= tweet_presenter.likes.size %></span>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= link_to "#", class: "text-decoration-none text-black views" do %>
            <%= image_tag "views.png", size: "20x20", class: "me-1" %>
            <span>Views</span>
          <% end %>
        </div>
        <div>
          <%= link_to "#", class: "text-decoration-none text-black bookmark" do %>
            <%= image_tag "bookmark.png", size: "20x20", class: "me-1" %>
            <span>Bookmark</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
