<meta name="turbo-visit-control" content="reload">

<div class="col-6">
  <%= link_to :back, class: "me-4 text-decoration-none text-black" do %>
    <div class="d-flex flex-row align-items-center">
      <h3 class="me-4"><i class="bi bi-arrow-left"></i></h3>
      <h3>Tweet</h3>
    </div>
  <% end %>

  <div data-tweet-path="<%= tweet_path(@tweet_presenter.tweet) %>" class="d-flex tweet py-3 px-3">
    <div class="flex-shrink-0">
      <%= image_tag @tweet_presenter.avatar, size: 48, class: "rounded-circle" %>
    </div>

    <div class="flex-grow-1 ms-3">
      <p class="fw-bold mb-0"><%= @tweet_presenter.display_name %></p>
      <p class="text-muted mb-1">@<%= @tweet_presenter.username %></p>
      <p class="fs-4 mb-2"><%= @tweet_presenter.body %></p>
      <p class="text-muted">
        <%= @tweet_presenter.tweet.created_at.strftime("%l:%M %p") %> · <%= @tweet_presenter.tweet.created_at.strftime("%b %d, %Y") %>
      </p>

      <%= render "show_tweet_stats", tweet_presenter: @tweet_presenter %>
    </div>
  </div>
</div>

<div class="col">
  Column
</div>
