<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("twitter.png") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if flash.any? %>
      <%= render "shared/flash" %>
    <% end %>

    <div class="container py-2">
      <% if user_signed_in? %>
        <div class="row">
          <div class="col">
            <%= render "shared/sidebar" %>
          </div>
            
          <%= yield %>
        </div>
      
      <% else %>

        <%= yield %>
        
      <% end %>
    </div>
  </body>
</html>
